body {
  font-family: Arial, Helvetica, sans-serif;
  background-attachment: fixed;
  background-image: url("../photo/full/sunset-road.jpg");
}

* {
  box-sizing: border-box;
}
h1{
  text-align: center;
}
/* style the container */
.container {
  position: relative;
  border-radius: 5px;
  padding: 0;
}

.wrapperr {
  width: 75%;
  margin: 15% auto;
}

/* style inputs and link buttons */
input,
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  color: grey;
}

input:hover,
.btn:hover {
  opacity: 1;
}

.fb {
  background-color: #3B5998;
  color: white;
}

.twitter {
  background-color: #55ACEE;
  color: white;
}

.google {
  background-color: #dd4b39;
  color: white;
}
.su{
  background-color: #666;
  color: white;
  text-align: center;

}
.fg{
  background-color: #666;
  color: white;
  text-align: center;

}

/* style the submit button */
#btnlogin {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

#btnlogin:hover {
  background-color: #45a049;
}

/* Two-column layout */
.col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* vertical line */
.vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 175px;
}

/* text inside the vertical line */
.vl-innertext {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}


/* bottom container */
/*.bottom-container {
  color: white;
  text-align: center;
  display: inline-block;

}*/



/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
  }
  /* hide the vertical line */
  .vl {
    display: none;
  }
  /* show the hidden text on small screens */
  .hide-md-lg {
    display: block;
    text-align: center;
  }
}
